<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Détails de l'ouvrage</title>

    <!--    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">-->
    <link rel="stylesheet" type="text/css" href="../webjars/bootstrap/4.0.0-2/css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="../static/css/myStyle.css" th:href="@{/css/myStyle.css}"/>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="../webjars/bootstrap/4.0.0-2/js/bootstrap.min.js"></script>
    <!--    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>-->

</head>
<body>
<!-- menu de l'application dans le header -->
<div th:insert="mon-header.html"/>

<div class="container">
    <div class="row" style="margin-top:50px;margin-bottom:10px;margin-left:5px;margin-right:5px">
        <div class="col-md-offset-1 col-md-11">
            <a href="/mesreservations">Retour</a>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        <h3>
                            <b th:text="${reservation.getOuvrage().ouvrageTitre}"></b>&nbsp;
                            de
                            <span th:text="${reservation.getOuvrage().ouvrageAuteur}"></span>&nbsp;
                        </h3>

                    </h3>
                </div>

                <section class="table-responsive">
                    <table class="table table-striped table-bordered table-responsive">
                        <tr>
                            <td colspan="2" align="center">
                                <img th:alt="${reservation.getOuvrage().ouvrageTitre}"
                                     th:src="${reservation.getOuvrage().ouvrageLienImage}">
                            </td>
                        </tr>
                        <tr>
                            <th>Référence</th>
                            <td th:text="${reservation.getOuvrage().ouvrageReference}"></td>
                        </tr>
                        <tr>
                            <th>Histoire</th>
                            <td th:text="${reservation.getOuvrage().ouvrageResume}"></td>
                        </tr>
                        <tr>
                            <th>Genre</th>
                            <td th:text="${reservation.getOuvrage().ouvrageStyle}"></td>
                        </tr>
                        <tr>
                            <th>Localisation</th>
                            <td th:text="${reservation.getOuvrage().ouvrageLocalisation}"></td>
                        </tr>
                        <tr>
                            <th>Lieu de mise à disposition</th>
                            <td th:text="${reservation.getOuvrage().bibliotheque.bibliothequeNom}"
                                th:title="${reservation.getOuvrage().bibliotheque.infos()}">
                            </td>
                        </tr>
                    </table>
                </section>

                <section>
                    <div class="col-md-12">
                        <div class="panel panel-primary">
                            <div class="panel-heading">
                                <h3 class="panel-title">Réservations en cours pour cet ouvrage</h3>
                            </div>
                            <div class="panel-body">
                                <table class="table table-striped">
                                    <thead>
                                    <tr class="btn-default">
                                        <th>Titre</th>
                                        <th>Date de demande de réservation</th>
                                        <th>Demandeur</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr th:if="${#lists.isEmpty(reservationsOuvrage)}" class="alert alert-info">
                                        <td colspan="7" align="center">Auncune r&eacute;servation trouv&eacute;e !!!
                                        </td>
                                    </tr>
                                    <tr th:each="reservation : ${reservationsOuvrage}">
                                        <td>
                                            <a th:title="${reservation.reservationId}" data-toggle="tooltip" data-placement="top">
                                                <div th:text="${reservation.ouvrage.ouvrageTitre}"></div>
                                            </a>
                                        </td>
                                        <td><div th:text="${#dates.format(reservation.reservationDateDemande, 'dd-MM-yyyy')}"></div></td>
                                        <td>
                                            <span th:if="${reservation.user.email.equals(moi)}">
                                                <a th:title="${reservation.user.email}" data-toggle="tooltip" data-placement="top">
                                                    <b>Ma demande</b>
                                                </a>
                                            </span>
                                            <span th:if="${!reservation.user.email.equals(moi)}">
                                                <a th:title="${reservation.user.email}" data-toggle="tooltip" data-placement="top">
                                                    Autre demandeur
                                                </a>
                                            </span>
                                            <span th:if="${reservation.reservationDateNotif} != null">
                                                <b>notifi&eacute; le <span th:text="${#dates.format(reservation.reservationDateNotif, 'dd-MM-yyyy')}"></span></b>
                                            </span>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </section>

                <section>
                    <div class="col-md-12">
                        <div class="panel panel-primary">
                            <div class="panel-heading">
                                <h3 class="panel-title">Emprunts en cours pour cet ouvrage</h3>
                            </div>
                            <div class="panel-body">
                                <table class="table table-striped">
                                    <thead>
                                    <tr class="btn-default">
                                        <th>Titre</th>
                                        <th>Date de retour prévue</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr th:if="${#lists.isEmpty(empruntsOuvrage)}" class="alert alert-info">
                                        <td colspan="7" align="center">Auncun emprunt trouvé !!!</td>
                                    </tr>
                                    <tr th:each="emprunt : ${empruntsOuvrage}">
                                        <td>
                                            <a th:title="${emprunt.empruntId}" data-toggle="tooltip" data-placement="top">
                                                <div th:text="${emprunt.ouvrage.ouvrageTitre}"></div>
                                            </a>
                                        </td>
                                        <td>
                                            <span th:if="${emprunt.empruntProlongation} == false">
                                                <div th:text="${#dates.format(emprunt.empruntDateFin, 'dd-MM-yyyy')}"></div>
                                            </span>
                                            <span th:if="${emprunt.empruntProlongation} == true">
                                                <div th:text="${#dates.format(emprunt.empruntDateProlongation, 'dd-MM-yyyy')}"></div>
                                            </span>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </section>


                <a href="/mesreservations">Retour</a>
            </div>
        </div>

    </div>

</div>

<div th:insert="mon-footer.html"/>

</body>
</html>