<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <!--    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">-->
    <link rel="stylesheet" type="text/css" href="../webjars/bootstrap/4.0.0-2/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="../static/css/myStyle.css" th:href="@{/css/myStyle.css}" />
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="../webjars/bootstrap/4.0.0-2/js/bootstrap.min.js"></script>
    <!--    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>-->
    <title>eLitSite - Liste des ouvrages</title>
    <meta charset="UTF-8">
</head>

<body>
<!-- menu de l'application dans le header -->
<div th:insert="mon-header.html"/>

<div class="row" style="margin-top:50px;margin-bottom:10px;margin-left:5px;margin-right:5px">

    <div class="col-md-6">
        <!-- Edit Alert Message -->
        <div th:if="${status eq 'notAuthorize'}">
            <div class="alert alert-danger alert-dismissible" role="alert">
                <strong>Erreur !</strong> - Action non autoris&eacute;e. <Strong>Pirate !</Strong>
            </div>
        </div>
        <div th:if="${status eq 'notFound'}">
            <div class="alert alert-warning alert-dismissible" role="alert">
                <strong>Echec !</strong> - D&eacute;tails non disponibles ou identifiant d'ouvragee inexistant.
            </div>
        </div>
    </div>
    <h3 class="panel-title" th:utext="${titre}"></h3>
    <div class="col-md-12">
        <form data-toggle="validator" role="form" th:object="${ouvrageCriteres}" th:action="@{/ouvrages/recherche}"
              method="post">
            <table class="table table-striped">
                <thead>
                <tr class="btn-default">
                    <th></th>
                    <th>Titre</th>
                    <th>Auteur</th>
                    <th>Style</th>
                    <th>Dispo</th>
                    <th>Text Libre</th>
                </tr>
                <tr>
                    <th>
                        <button type="submit" class="btn btn-primary">Rechercher</button>
                    </th>
                    <th><input type="text" class="form-control" th:field="*{ouvrageTitre}" id="ouvrageTitre"/></th>
                    <th><input type="text" class="form-control" th:field="*{ouvrageAuteur}" id="ouvrageAuteur"/></th>
                    <th>
                        <select type="select" class="form-control" size="1" th:field="*{ouvrageStyle}">
                            <option th:value="''" th:text="Tout">Tout</option>
                            <option th:value="'Amour'" th:text="Amour">Amour</option>
                            <option th:value="'BD'" th:text="BD">BD</option>
                            <option th:value="'Comique'" th:text="Comique">Comique</option>
                            <option th:value="'Fantastique'" th:text="Fantastique">Fantastique</option>
                            <option th:value="'Policier'" th:text="Policier">Policier</option>
                            <option th:value="'Roman-graphique'" th:text="Roman-graphique">Roman-graphique</option>
                            <option th:value="'Science-fiction'" th:text="Science-fiction">Science-fiction</option>
                            <option th:value="'Thriller'" th:text="Thriller">Thriller</option>
                        </select>
                    </th>
                    <th>
                        <select type="select" class="form-control" size="1" th:field="*{ouvrageQuantite}">
                            <option th:value="''" th:text="Tout">Tout</option>
                            <option th:value="'1'" th:text="Oui">Oui</option>
                            <option th:value="'0'" th:text="Non">Non</option>
                        </select>
                    </th>

                    <th><input type="text" class="form-control" th:field="*{ouvrageResume}" id="ouvrageResume"/></th>
                </tr>
                </thead>
            </table>
        </form>
    </div>

    <div th:if="${#lists.isEmpty(ouvrages)}" class="col-md-8 alert alert-info">
        <p>Auncun ouvrage trouvé !!!</p>
    </div>

    <div th:each="ouvrage : ${ouvrages}" class="col-md-2 my-1">
        <a th:href="@{|/ouvrage/details?ouvrageId=${ouvrage.ouvrageId}|}" title="infos">
            <img th:alt="${ouvrage.ouvrageTitre}" th:src="${ouvrage.ouvrageLienImage}">
        </a>
        <div th:utext="${ouvrage.ouvrageTitre}"></div>
        <div th:utext="'Auteur ' + ${ouvrage.ouvrageAuteur}"></div>
        <div th:utext="${ouvrage.ouvrageQuantite} + ' exemplaire(s)'"></div>
        <div th:utext="'&agrave; ' + ${ouvrage.bibliotheque.bibliothequeNom}"
             th:title="${ouvrage.bibliotheque.infos()}"></div>
    </div>

</div>

<div th:insert="mon-footer.html"/>

</body>
</html>