<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <!--    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">-->
    <link rel="stylesheet" type="text/css" href="../webjars/bootstrap/4.0.0-2/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="../static/css/myStyle.css" th:href="@{/css/myStyle.css}" />
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="../webjars/bootstrap/4.0.0-2/js/bootstrap.min.js"></script>
    <!--    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>-->
    <script>
        // Alerte prolongation
        function confirmer_prolongation()
        {
            if(confirm('Vous allez prolonger cet emprunt, voulez-vous poursuivre ?'))
            { return true; }
            else
            { return false; }
        }
    </script>
    <title>eLitSite - Mes emprunts</title>
    <meta charset="UTF-8">
</head>

<body>
<!-- menu de l'application dans le header -->
<div th:insert="mon-header.html"/>

<div class="row" style="margin-top:50px;margin-bottom:10px;margin-left:5px;margin-right:5px">
    <div class="col-md-offset-1 col-md-6">
        <!-- Edit Alert Message -->
        <div th:if="${status eq 'notAuthorize'}">
            <div class="alert alert-danger alert-dismissible" role="alert">
                <strong>Erreur !</strong> - Action non autoris&eacute;e. <Strong>Pirate !</Strong>
            </div>
        </div>
        <div th:if="${status eq 'notFound'}">
            <div class="alert alert-warning alert-dismissible" role="alert">
                <strong>Echec !</strong> - D&eacute;tails non disponibles ou emprunt inexistant.
            </div>
        </div>
        <div th:if="${plus eq 'notFound'}">
            <div class="alert alert-danger alert-dismissible" role="alert">
                <strong>Echec !</strong> - Prolongation impossible, emprunt inexistant.
            </div>
        </div>
        <div th:if="${plus eq 'unsuccess'}">
            <div class="alert alert-danger alert-dismissible" role="alert">
                <strong>Erreur !</strong> - Prolongation impossible, rapprochez-vous de votre biblioth&egrave;que.
            </div>
        </div>
        <div th:if="${plus eq 'success'}">
            <div class="alert alert-success alert-dismissible" role="alert">
                <strong>OK !</strong> - Prolongation effectu&eacute;e avec succ&egrave;s.
            </div>
        </div>

    </div>

    <div class="col-md-12">
        <form data-toggle="validator" role="form" th:object="${empruntCriteres}" th:action="@{/mesemprunts/recherche}" method="post">
            <table class="table table-striped">
                <thead>
                <tr class="btn-default">
                    <th width="10%"><button type="submit" class="btn btn-primary">Rechercher</button></th>
                    <th>Etat
                        <select type="select"  class="form-control"  size="1"  th:field="*{empruntRendu}">
                            <option th:value=false th:text="EnCours">EnCours</option>
                            <option th:value=true th:text="Rendus">Rendus</option>
                            <option th:value=null th:text="Tout">Tout</option>
                        </select>
                    </th>
                    <th>Prolong&eacute;
                        <select type="select"  class="form-control"  size="1"  th:field="*{empruntProlongation}">
                            <option th:value=null th:text="Tout">Tout</option>
                            <option th:value=true th:text="Oui">Oui</option>
                            <option th:value=false th:text="Non">Non</option>
                        </select>
                    </th>
                    <th>Retard
                        <select type="select"  class="form-control"  size="1"  th:field="*{empruntRelance}">
                            <option th:value=null th:text="Tout">Tout</option>
                            <option th:value=true th:text="Oui">Oui</option>
                            <option th:value=false th:text="Non">Non</option>
                        </select>
                    </th>
                </tr>
                </thead>
            </table>
        </form>
    </div>

    <div class="col-md-12">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">Liste de mes emprunts</h3>
            </div>
            <div class="panel-body">

                <table class="table table-striped">
                    <thead>
                    <tr class="btn-default">
                        <th>Titre</th>
                        <th>Lieu d'emprunt</th>
                        <th>Date d'emprunt</th>
                        <th>Date de fin initiale</th>
                        <th>Date de fin Prolong&eacute;e</th>
                        <th>Date de Retour</th>
                        <th>Date de relance</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:if="${#lists.isEmpty(emprunts)}" class="alert alert-info">
                        <td colspan="7" align="center">Auncun emprunt trouvé !!!</td>
                    </tr>
                    <tr th:each="emprunt : ${emprunts}">
                        <td><a th:href="@{|/emprunt/details?empruntId=${emprunt.empruntId}|}" title="Afficher" data-toggle="tooltip" data-placement="top">
                            <img th:alt="${emprunt.ouvrage.ouvrageTitre}" th:src="${emprunt.ouvrage.ouvrageLienImage}" width="15%"></a>
                            <span th:text="${emprunt.ouvrage.ouvrageTitre}"></span>
                        </td>
                        <td th:text="${emprunt.ouvrage.bibliotheque.bibliothequeNom}" th:title="${emprunt.ouvrage.bibliotheque.infos()}"></td>
                        <td th:text="${#dates.format(emprunt.empruntDateDebut, 'dd-MM-yyyy')}"></td>
                        <td th:text="${#dates.format(emprunt.empruntDateFin, 'dd-MM-yyyy')}"></td>
                        <td>
                            <span th:if="${emprunt.empruntProlongation} == true">
                                <div th:text="${#dates.format(emprunt.empruntDateProlongation, 'dd-MM-yyyy')}"></div>
                            </span>
                            <span th:if="${emprunt.empruntProlongation} == false">
                                <span th:if="${datedujour} > ${emprunt.empruntDateFin}">
                                    <a href="#" title="Rapprochez-vous de votre bibliothèque" data-toggle="tooltip" data-placement="top">
                                    Non prolongeable.
                                    </a>
                                </span>
                                <span th:if="${datedujour} <= ${emprunt.empruntDateFin}">
                                    <span th:if="${emprunt.empruntRendu} == false">
                                    <div class="btn btn-outline-primary">
                                        <a th:href="@{|/emprunt/plus?empruntId=${emprunt.empruntId}|}" title="Prolonger" data-toggle="tooltip" data-placement="top"
                                           onClick="return confirm('Vous allez prolonger cet emprunt, voulez-vous poursuivre ?');">
                                            Prolonger ? </a>
                                    </div>
                                    </span>
                                </span>
                            </span>
                        </td>
                        <td th:text="${#dates.format(emprunt.empruntDateRetour, 'dd-MM-yyyy')}"></td>
                        <td th:text="${#dates.format(emprunt.empruntDateRelance, 'dd-MM-yyyy')}"></td>
                    </tr>
                    </tbody>
                </table>
            </div>

        </div>
    </div>
</div>

<div th:insert="mon-footer.html"/>

</body>
</html>